body {
    background-color: darkslategray;
};

.big-counter {
    background-color: black;
};

.card:matches(.clock) {
    width: 5rem;
    height: 7rem;
    background-color: red;
    font-size: 100px;
}

.card {
    width: 5rem;
    height: 5rem;
    background-color: lightcyan;
    margin-top: 10px;
    margin-bottom: 10px;
};